<!doctype html>
<html lang="en" ng-app="iGAdv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="main.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Idle GachAdventure alpha 0.0v</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2" ng-controller="CurrencyController">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Currencies</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Coins: {{getCoins()}}</p>
                                    <p>Tokens: {{getTokens()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Resources</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Stone: {{getStone()}}</p>
                                    <p>Wood: {{getWood()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="nav nav-pills">
                                            <li role="presentation" class="active">
                                                <a href="#heroes" data-target="#heroes, #heroes2" data-toggle="pill">Heroes</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#gacha" data-target="#gacha, #gacha2" data-toggle="pill">Gacha</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#mine" data-target="#mine, #mine2" data-toggle="pill">Mine</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#town" data-target="#town, #town2" data-toggle="pill">Town</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#wild" data-target="#wild, #wild2" data-toggle="pill">Wilderness</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="tab-content">
                                <div class="tab-pane active" id="heroes" ng-controller="HeroDetailsController">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">{{getSelectedHeroName()}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <span ng-if="noHeroSelected() == true">
                                                        You can see the selected hero's details here.
                                                    </span>
                                                    <span ng-if="noHeroSelected() == false">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                Picture goes here
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <p class="text-center h3">Stats</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Level: {{getSelectedHeroLevel()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">XP: {{getSelectedHeroExperience()}} / {{getSelectedHeroExperienceToLevel()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Rarity: {{getSelectedHeroRarity()}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Mining: {{getSelectedHeroMining()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Level: {{getSelectedHeroMiningLevel()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">XP: {{getSelectedHeroMiningExperience()}} / {{getSelectedHeroMiningExperienceToLevel()}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Build: {{getSelectedHeroBuild()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Level: {{getSelectedHeroBuildLevel()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">XP: {{getSelectedHeroBuildExperience()}} / {{getSelectedHeroBuildExperienceToLevel()}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Combat: {{getSelectedHeroCombat()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">Level: {{getSelectedHeroCombatLevel()}}</p>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <p class="h4">XP: {{getSelectedHeroCombatExperience()}} / {{getSelectedHeroCombatExperienceToLevel()}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <button class="btn btn-block btn-danger" ng-click="setHeroTo(1)">Set to Mine</button>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <button class="btn btn-block btn-primary" ng-click="setHeroTo(2)">Set to Town</button>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <button class="btn btn-block btn-success" ng-click="setHeroTo(3)">Set to Wild</button>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="gacha" ng-controller="GachaController">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">{{getGacha(getSelectedGacha()).name}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    {{getGacha(getSelectedGacha()).description}}
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    Rates:
                                                    <ul>
                                                        <li ng-repeat="rarities in getGacha(getSelectedGacha()).rates">
                                                            {{rarities.chance}}% for {{rarities.rarity}}*
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <button class="btn btn-block btn-primary" ng-click="rollHero(getSelectedGacha())">Roll a Hero!</button>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            Cost: {{getGacha(getSelectedGacha()).cost}} coins
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <hr>
                                                            <p class="text-center">{{getGachaMessage()}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="mine" ng-controller="MineController">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Mine</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <p>Stone/s: {{getMineralPerSecond(1)}}</p>
                                                    <p>Wood/s: {{getMineralPerSecond(2)}}</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p class="text-center">{{getSelectedHeroName()}}</p>
                                                        </div>
                                                    </div>
                                                    <span ng-if="getSelectedHero() != -1">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <p>Mining Power: {{getSelectedHeroMining()}}</p>
                                                                <p>Gathering: {{getCurrentSubJob()}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <button class="btn btn-block btn-default" ng-click="setSubJob(getSelectedHero(), 1)">Gather Stone</button>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <button class="btn btn-block btn-default" ng-click="setSubJob(getSelectedHero(), 2)">Gather Wood</button>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="town" ng-controller="TownController">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Town Center</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                </div>
                                            </div>
                                            <hr>
                                            <span ng-repeat="building in getBuildings()">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="well well-sm">
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <p class="h3">{{building.name}}</p>
                                                                    <p>Level: {{building.level}}</p>
                                                                    <p ng-if="building.maxAmount == 1">You can only have one of this building.</p>
                                                                    <p ng-if="building.maxAmount != building.amount">Built: {{building.amount}} / {{building.maxAmount}}</p>
                                                                </div>
                                                                <div class="col-xs-8">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <p>To upgrade:</p>
                                                                            <p><span ng-repeat="materials in building.toUpgrade">[{{materials.value}} {{materials.mineral}}] </span></p>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <p>To build:</p>
                                                                            <p ng-if="building.maxAmount == building.amount">Already built maximum amount.</p>
                                                                            <p ng-if="building.maxAmount != building.amount">
                                                                                <span ng-repeat="materials in building.toBuild">[{{materials.value}} {{materials.mineral}}] </span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <button class="btn btn-default btn-block text-center">Upgrade {{building.name}}</button>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <button class="btn btn-default btn-block text-center" ng-if="building.maxAmount != building.amount">Build {{building.name}}</button>
                                                                            <button class="btn btn-disabled btn-block text-center" ng-if="building.maxAmount == building.amount">Cannot build {{building.name}}</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <p class="text-center">Power to Upgrade: {{building.powerToUpgrade}}</p>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <p class="text-center" ng-if="building.maxAmount != building.amount">Power to Build: {{building.powerToBuild}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="wild">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Wilderness</h3>
                                        </div>
                                        <div class="panel-body">
                                            This is where you explore. You can kill things and expand your territory.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-controller="HeroController">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="heroes2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Current Heroes</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <span ng-repeat="hero in getHeroList()">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <button class="btn btn-default btn-block text-center" ng-click="selectHero(hero.id)" ng-if="hero.setTo == 0">({{hero.rarity}}*) {{hero.name}}</button>
                                                                <button class="btn btn-danger btn-block text-center" ng-click="selectHero(hero.id)" ng-if="hero.setTo == 1">({{hero.rarity}}*) {{hero.name}}</button>
                                                                <button class="btn btn-primary btn-block text-center" ng-click="selectHero(hero.id)" ng-if="hero.setTo == 2">({{hero.rarity}}*) {{hero.name}}</button>
                                                                <button class="btn btn-success btn-block text-center" ng-click="selectHero(hero.id)" ng-if="hero.setTo == 3">({{hero.rarity}}*) {{hero.name}}</button>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="gacha2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Gacha List</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <span ng-repeat="gacha in getGachaList()">
                                                                <button class="btn btn-block btn-default" ng-click="setGachaDetails(gacha.id)">{{gacha.name}}</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="mine2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Heroes Mining</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <span ng-repeat="hero in getHeroList()">
                                                        <span ng-if="hero.setTo == 1">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button class="btn btn-default btn-block text-center" ng-click="selectHeroMine(hero.id)">({{hero.rarity}}*) {{hero.name}}</button>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="town2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Heroes Building</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <span ng-repeat="hero in getHeroList()">
                                                        <span ng-if="hero.setTo == 2">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button class="btn btn-default btn-block text-center" ng-click="selectHero(hero.id)">({{hero.rarity}}*) {{hero.name}}</button>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="wild2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Heroes Exploring</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <span ng-repeat="hero in getHeroList()">
                                                        <span ng-if="hero.setTo == 3">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button class="btn btn-default btn-block text-center" ng-click="selectHero(hero.id)">({{hero.rarity}}*) {{hero.name}}</button>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>